<div>
  <h1>AboutUs Page</h1>
  <h2>Running the Angular 2/4 Animation Tutorial Demo Locally</h2>
Install NodeJS and NPM from https://nodejs.org/en/download/, you can check the versions you have installed by running node -v and npm -v from the command line.
 
Download the project source code from https://github.com/cornflourblue/angular2-animation-tutorial-example
 
Install all required npm packages by running npm install from the command line in the project root folder (where the package.json is located).
 
Start the application by running npm start from the command line in the project root folder.
<h2>Running the Angular 2/4 Animation Tutorial Demo Locally</h2>
Install NodeJS and NPM from https://nodejs.org/en/download/, you can check the versions you have installed by running node -v and npm -v from the command line.
 
Download the project source code from https://github.com/cornflourblue/angular2-animation-tutorial-example
 
Install all required npm packages by running npm install from the command line in the project root folder (where the package.json is located).
 
Start the application by running npm start from the command line in the project root folder.
<h2>Running the Angular 2/4 Animation Tutorial Demo Locally</h2>
Install NodeJS and NPM from https://nodejs.org/en/download/, you can check the versions you have installed by running node -v and npm -v from the command line.
 
Download the project source code from https://github.com/cornflourblue/angular2-animation-tutorial-example
 
Install all required npm packages by running npm install from the command line in the project root folder (where the package.json is located).
 
Start the application by running npm start from the command line in the project root folder.
<h2>Running the Angular 2/4 Animation Tutorial Demo Locally</h2>
Install NodeJS and NPM from https://nodejs.org/en/download/, you can check the versions you have installed by running node -v and npm -v from the command line.
 
Download the project source code from https://github.com/cornflourblue/angular2-animation-tutorial-example
 
Install all required npm packages by running npm install from the command line in the project root folder (where the package.json is located).
 
Start the application by running npm start from the command line in the project root folder.
<h2>Running the Angular 2/4 Animation Tutorial Demo Locally</h2>
Install NodeJS and NPM from https://nodejs.org/en/download/, you can check the versions you have installed by running node -v and npm -v from the command line.
 
Download the project source code from https://github.com/cornflourblue/angular2-animation-tutorial-example
 
Install all required npm packages by running npm install from the command line in the project root folder (where the package.json is located).
 
Start the application by running npm start from the command line in the project root folder.
<h2>Running the Angular 2/4 Animation Tutorial Demo Locally</h2>
Install NodeJS and NPM from https://nodejs.org/en/download/, you can check the versions you have installed by running node -v and npm -v from the command line.
 
Download the project source code from https://github.com/cornflourblue/angular2-animation-tutorial-example
 
Install all required npm packages by running npm install from the command line in the project root folder (where the package.json is located).
 
Start the application by running npm start from the command line in the project root folder.
<h2>Running the Angular 2/4 Animation Tutorial Demo Locally</h2>
Install NodeJS and NPM from https://nodejs.org/en/download/, you can check the versions you have installed by running node -v and npm -v from the command line.
 
Download the project source code from https://github.com/cornflourblue/angular2-animation-tutorial-example
 
Install all required npm packages by running npm install from the command line in the project root folder (where the package.json is located).
 
Start the application by running npm start from the command line in the project root folder.
</div>
