<h1>
  Management Page
</h1>
<h2>What We'll Be Building</h2>
<div>
Let's say we have a single page application where we want to animate the page change. Clicking on a link will slide one view out and another into view.

We'll use:

ngRoute for our page routing
ngAnimate to create our page animations
CSS Animations will be applied to the pages
Each of our pages will have different animations when leaving or entering the view
Extreme Animations: The animations we'll be using here are a little over the top. Animations that are subtle can be useful for your production sites, we're just going crazy for demonstration purposes. *Animations are from this great tutorial from Codrops: A Collection of Page Transitions
</div>
<h2>What We'll Be Building</h2>
<div>
Let's say we have a single page application where we want to animate the page change. Clicking on a link will slide one view out and another into view.

We'll use:

ngRoute for our page routing
ngAnimate to create our page animations
CSS Animations will be applied to the pages
Each of our pages will have different animations when leaving or entering the view
Extreme Animations: The animations we'll be using here are a little over the top. Animations that are subtle can be useful for your production sites, we're just going crazy for demonstration purposes. *Animations are from this great tutorial from Codrops: A Collection of Page Transitions
</div>
<h2>What We'll Be Building</h2>
<div>
Let's say we have a single page application where we want to animate the page change. Clicking on a link will slide one view out and another into view.

We'll use:

ngRoute for our page routing
ngAnimate to create our page animations
CSS Animations will be applied to the pages
Each of our pages will have different animations when leaving or entering the view
Extreme Animations: The animations we'll be using here are a little over the top. Animations that are subtle can be useful for your production sites, we're just going crazy for demonstration purposes. *Animations are from this great tutorial from Codrops: A Collection of Page Transitions
</div>
<h2>What We'll Be Building</h2>
<div>
Let's say we have a single page application where we want to animate the page change. Clicking on a link will slide one view out and another into view.

We'll use:

ngRoute for our page routing
ngAnimate to create our page animations
CSS Animations will be applied to the pages
Each of our pages will have different animations when leaving or entering the view
Extreme Animations: The animations we'll be using here are a little over the top. Animations that are subtle can be useful for your production sites, we're just going crazy for demonstration purposes. *Animations are from this great tutorial from Codrops: A Collection of Page Transitions
</div>
<h2>What We'll Be Building</h2>
<div>
Let's say we have a single page application where we want to animate the page change. Clicking on a link will slide one view out and another into view.

We'll use:

ngRoute for our page routing
ngAnimate to create our page animations
CSS Animations will be applied to the pages
Each of our pages will have different animations when leaving or entering the view
Extreme Animations: The animations we'll be using here are a little over the top. Animations that are subtle can be useful for your production sites, we're just going crazy for demonstration purposes. *Animations are from this great tutorial from Codrops: A Collection of Page Transitions
</div>
<h2>What We'll Be Building</h2>
<div>
Let's say we have a single page application where we want to animate the page change. Clicking on a link will slide one view out and another into view.

We'll use:

ngRoute for our page routing
ngAnimate to create our page animations
CSS Animations will be applied to the pages
Each of our pages will have different animations when leaving or entering the view
Extreme Animations: The animations we'll be using here are a little over the top. Animations that are subtle can be useful for your production sites, we're just going crazy for demonstration purposes. *Animations are from this great tutorial from Codrops: A Collection of Page Transitions
</div>