<header class="header-box">
  <div class="row no-margin header-wrap">
    <div class="col-md-6 col-sm-12 page-logo">
      <img src="../../favicon.ico" alt="Page logo" height="30" width="auto" />
    </div>
    <div class="col-md-6 col-sm-12">
      <ul class="no-margin header-links">
        <li>
          <a [routerLink]="['/Home']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/About']">About US</a>
        </li>
        <li>
          <a [routerLink]="['/Management']">Management</a>
        </li>
        <li>
          <a [routerLink]="['/Contact']">Contact US</a>
        </li>
      </ul>
    </div>
  </div>
</header>
