.header-box {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  .header-wrap {
    background-color: seagreen;
    color: white;
    padding: 3px;
    ul {
      float: right;
      padding: 0;
      li {
        display: inline-block;
        list-style: none;
        padding: 5px;
        a {
          color: white;
        }
      }
    }
  }
}