<header class="header-box">
  <div class="row no-margin header-wrap">
    <div class="col-md-6 col-sm-12 page-logo">
      <img src="../../favicon.ico" alt="Page logo" height="30" />
    </div>
    <div class="col-md-6 col-sm-12">
      <ul class="no-margin">
        <li>
          <a [routerLink]="['/Home']" name="Home">Home</a>
        </li>
        <li>
          <a [routerLink]="['/About']" name="About US">About US</a>
        </li>
        <li>
          <a [routerLink]="['/Management']" name="Management">Management</a>
        </li>
        <li>
          <a [routerLink]="['/Contact']" name="Contact US">Contact US</a>
        </li>
      </ul>
    </div>
  </div>
</header>
