<header class="header-box">
  <div class="row no-margin header-wrap">
    <div class="col-md-6 col-sm-12 page-logo">
      <img src="../../favicon.ico" alt="Page logo" height="30" />
    </div>
    <div class="col-md-6 col-sm-12">
      <ul class="no-margin">
        <li>
          <a [routerLink]="['/Home']" (click)="handleIndex('home')">Home</a>
        </li>
        <li>
          <a [routerLink]="['/About']" (click)="handleIndex('about')">About US</a>
        </li>
        <li>
          <a [routerLink]="['/Management']" (click)="handleIndex('manage')">Management</a>
        </li>
        <li>
          <a [routerLink]="['/Contact']" (click)="handleIndex('contact')">Contact US</a>
        </li>
      </ul>
    </div>
  </div>
</header>
