<footer class="footer-box">
  <div class="row no-margin footer-wrap">
    <div class="col-lg-6 col-md-6 col-sm-12">
      © 2017 All Rights Reserved. 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 text-right footer-links">
      <a href="https://www.facebook.com" target="_blank">Facebook</a>
      <a href="https://in.linkedin.com" target="_blank">Linked In</a>
      <a href="https://Twitter.com" target="_blank">Twitter</a>
      <a href="https://www.youtube.com" target="_blank">You Tube</a>
    </div>
  </div>
</footer>
