<footer class="footer-box">
  <div class="row no-margin footer-wrap">
    <div class="col-lg-6 col-md-6 col-sm-12">
      © 2017 All Rights Reserved. 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 text-right" alt="Social network">
      <a href="www.facebook.com" name="Facebook">Facebook</a>
      <a href="www.linked-in.com" name="Linked In">Linked In</a>
      <a href="www.Twitter.com" name="Twitter">Twitter</a>
      <a href="www.Youtube.com" name="You Tube">You Tube</a>
    </div>
  </div>
</footer>
